* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", "Regular", Helvetica, Arial, sans-serif;
}

html,
body {
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width: 100%;
	overflow-x: hidden;
	min-width: 320px;
	font-size: 50px;
	background: #B7B7B7
}

.clear {
	clear: both;
}

input {
	border: 0;
	outline: none;
	background: none;
}

button {
	border: 0;
	outline: none;
}

ul,li { 
	padding:0;
	margin:0;
	list-style:none;
}


[v-cloak] {
  display: none;
}


/**
 * index
 */

.navigation {
	margin: 2rem auto ;
	height: 1.6rem;
	width: 80%;
	border-radius: 10rem;
	background: #FFFFFF;
	overflow:hidden;
	box-shadow: 0.2rem 0.2rem 0.1rem #888888;
}

.navigation h4 {
	float：left;
	line-height: 1.6rem;
	font-size: 0.8rem;
	margin: 0px 1.5rem 0px 1rem;
	color: #1874CD;
	display: inline-block;
}

.navigation ul {
	display: inline-block;
}

.navigation ul li {
	margin-right: 0.5rem;
	font-size: 0.36rem;
	color: #1874CD;
	float: left;
}

.navigation img {
	float: right;
	width: 1rem;
	height: 1rem;
	border: 2px solid #848484;
	border-radius: 50%;
	margin-right: 0.38rem;
	margin-top: 0.3rem;
}


/**
 * main
 */

.main {
 	background: #FFFFFF;
 	width: 78%;
 	box-shadow: 0 0 0 0.4rem rgba(255, 255, 255, 0.4);
 	border-radius: 0.2rem;
 	margin: 0 auto 2rem auto;
}

.main .data-list {
	margin-top: 45%;	
}

/**
 * footer
 */

.footer {
 	background: #FFFFFF;
 	width: 80%;
 	height: 200px;
 	border-radius: 0.2rem;
 	margin: 0 auto 1rem auto;
 }


/**
 * data-list
 */

.data-list {
	margin: 0 auto;
 	padding-top: 0.2rem;
 	padding-bottom: 0.2rem;
	width: 80%;
}

.data-list li {
 	width: 100%;
 	padding-bottom: 0.5rem;
}

.data-list li .time {
	display: inline-block;
	height: 4.5rem;
	width:20%;
	font-size: 0.5rem;
	border-right: 2px solid #46a4da;
	float: left;
	position: relative;
}

.data-list li .time:after {
    left: 97.5%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-width: 0.1rem;
    top: 0.3rem;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #afdcf8;
    position: absolute;
}

.data-list li .article {
	margin-left: 3%;
	display: inline-block;
	width: 75%;
	height: 4rem;
	background: #87CEEB;
	border-radius: 0.2rem;
	position: relative;
}


.data-list li .article:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    border-right-color: #87CEEB;
    border-width: 0.2rem;
    position: absolute;
    top: 0.2rem;
}

.data-list li:nth-child(odd) .article {
 	background: #6CA6CD;
}

.data-list li:nth-child(odd) .article:after {
 	border-right-color: #6CA6CD;
}


.data-list li .article h4 {
	width: 90%;
	font-size: 0.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	color: #F5FFFA;
	overflow:hidden;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
}

.data-list li .article p {
	width: 90%;
	text-indent: 2em;
	font-size: 0.35rem;
	color: #F5FFFA;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.data-list li .article a {
	width: 20%;
	font-size: 0.3rem;
	background: #528B8B;
	padding: 0.1rem;
	color: #FAFAFA;
	font-weight: bold;
	border-radius: 0.1rem;
	margin-left: 80%;
	cursor: pointer;
}

.data-list li:hover .time {
	color: #87CEEB;
}

.data-list li:nth-child(odd):hover .time {
	color: #6CA6CD;
}

.data-list li:hover .article:after {
	border-right-color: rgba(135,206,235,0.9);
}
.data-list li:hover .article {
	background: rgba(135,206,235,0.9);
}

.data-list li:nth-child(odd):hover .article {
	background: rgba(108, 166, 205,0.9);
}

.data-list li:nth-child(odd):hover .article:after {
	border-right-color: rgba(108, 166, 205,0.9);
}

/**
 * picture-list
 */

.picture-list {
	padding-top: 0.5rem;
	margin-left: 1rem;
	width: 30%;
	position:relative;
}
.picture-list li {
	width: 90%;
	height: 0;
	padding-bottom: 120%;
	background: #FFFFF0;
	border: 1px solid #FFFFE0;
	box-shadow: 0.2rem 0.2rem 0.1rem #888888;
	position: absolute;
}

.picture-list li img {
	width: 90%;
	margin: 5%;
}

.picture-list li p {
	font-size: 0.5rem;
}

.picture-list li:nth-child(2) {
	/*margin-left: 0.5rem;*/
	transform: rotate(4deg);      
    -o-transform:rotate(4deg);    
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
}

.picture-list li:nth-child(3) {
	/*margin-left: 0.8rem;*/
	transform: rotate(7.5deg);      
    -o-transform:rotate(7.5deg);    
    -webkit-transform:rotate(7.5deg);
    -moz-transform:rotate(7.5deg);
}

